<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.jottery.newNote</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Note</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>square.and.pencil</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.jottery.newCalc</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Calc Note</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>function</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.jottery.search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>magnifyingglass</string>
		</dict>
	</array>
</dict>
</plist>
